@model SmarterBalanced.SampleItems.Core.Repos.Models.AccessibilityResourceViewModel

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.SelectedCode, Model.Label, htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(m => m.SelectedCode, Model.AccessibilityListItems, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.SelectedCode, "", new { @class = "text-danger" })
</div>

