[submodule "SmarterBalanced.SampleItems/AccessibilityAccommodationConfigurations"]
	path = SmarterBalanced.SampleItems/AccessibilityAccommodationConfigurations
	url = https://github.com/osu-cass/AccessibilityAccommodationConfigurations.git
