@using SmarterBalanced.SampleItems.Core.Repos.Models
@model AboutItemsViewModel

<div id="about-items"></div>

@section Scripts {
    <script src="~/scripts/ItemViewerFrame.js"></script>
    <script src="~/scripts/AboutItems.js"></script>
    <script>
    var viewModel = @Json.Serialize(Model);
    initializeAboutItems(viewModel);
    </script>
}
