@using SmarterBalanced.SampleItems.Core.Repos.Models
@model AboutItemsViewModel

<div id="about-items"></div>

<environment names="Development">
    <link rel="stylesheet" href="~/css/about.css" />
</environment>
<environment names="Staging, Production">
    <link rel="stylesheet" href="~/css/about.min.css" />
</environment>

@section Scripts {

    <environment names="Development">
        <script src="~/scripts/ItemViewerFrame.js"></script>
        <script src="~/scripts/AboutItems.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="~/scripts/ItemViewerFrame.min.js"></script>
        <script src="~/scripts/AboutItems.min.js"></script>
    </environment>

    <script>
        var viewModel = @Json.Serialize(Model);
        initializeAboutItems(viewModel);
    </script>
}
