.accessibility-dropdowns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.accessibility-dropdown {
    padding: 7px;
    flex-basis: 250px;
}

.accessibility-modal {
    width: auto;
    max-width: 800px; /* 3 columns of options */
}

.accessibility-button { 
    float: right;
    font-size: 24px;
    border-radius: 0px;
}

.accessibility-button-text:before {
    content: ' Accessibility';
}

@media screen and (max-width: 600px) {
    .accessibility-button-text:before {
        content: '';
    }
}

.option-disabled {
    background: rgb(128,128,128); /* Fallback for browsers without support for rgba() */
    background: rgba(128,128,128,0.4);
}

.selection-disabled {
    opacity: 0.5;
}

.url-display {
  font-family: monospace;
  margin-bottom: 10px;
  overflow: auto;
  padding: 5px;
  padding-top: 75px;
  width: auto;
  word-wrap:break-word;
}

.readonly-select {
    user-select: all;
}

.modal-toggle {
    font-size: 20px;
    color: black;
}

.glyphicon-pad {
    padding: 5px;
}

.btn-cancel {
    background-color: #0085AD;
    border-color: #106481;
}

.btn-cancel:hover {
    background-color: #106481;
}