.accessibility-groups {
    display: flex;
    flex-direction: column;
}

.accessibility-dropdowns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.accessibility-dropdown {
    padding: 7px;
    flex-basis: 250px;
}

.accessibility-modal {
    width: auto;
    max-width: 550px;
}

.accessibility-button { 
    float: right;
    font-size: 24px;
    border-radius: 0px;
}

.accessibility-button-text:before {
    content: ' Accessibility';
}

.expand-button {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .accessibility-button-text:before {
        content: '';
    }
}

.option-disabled {
    background: rgb(128,128,128); /* Fallback for browsers without support for rgba() */
    background: rgba(128,128,128,0.4);
}

.selection-disabled {
    opacity: 0.5;
}

.url-display {
  font-family: monospace;
  margin-bottom: 10px;
  overflow: auto;
  padding: 5px;
  padding-top: 75px;
  width: auto;
  word-wrap:break-word;
}

.readonly-select {
    user-select: all;
}

.modal-toggle {
    font-size: 20px;
    color: black;
}

.glyphicon-pad {
    padding: 5px;
}

.btn-cancel {
    background-color: #0085AD;
    border-color: #106481;
}

.btn-cancel:hover {
    background-color: #106481;
}

.item-nav-group {
    position: relative;
    margin-bottom: 3px;
}

.item-nav-bottom {
    position: absolute;
    bottom: 0;    
}

.item-nav-btn {
    font-size: 14px;
    padding: 0px 2px 0px 2px;
    color: black;
}

.accessibility-btn {
    font-size: 18px;
    padding: 2px 2px 2px 2px;
}

.more-like-this {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.more-like-this-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 15px;
}

.more-like-this-modal {
    max-width: 725px;
    width: auto;
}

.more-like-this-modal h3{
    margin-top: 0px;
}

.modal-body {
    padding: 15px;
}
