@media screen and (max-width: 760px) {
  .navbar {
    margin: 0;
  }
}
.sbNav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 10px;
}
@media screen and (max-width: 760px) {
  .sbNav {
    flex-flow: column;
  }
}
.sbNav-titleGroup,
.sbNav-linksGroup {
  display: flex;
  flex-flow: row;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .sbNav-titleGroup {
    flex-flow: column;
  }
}
@media screen and (max-width: 760px) {
  .sbNav-linksGroup {
    flex-flow: column;
  }
}
.sbNav-titleGroup-item {
  margin: 5px;
}
.sbNav-linksGroup-item {
  font-size: 22px;
  color: #007393;
  margin: 10px;
}
.sbNav-linksGroup-item:hover {
  text-decoration: none;
}
.sbNav-titleGroup-item h3 {
  color: #63666A;
  margin: 0 auto;
  font-size: 28px;
}
.glyphicon-search {
  font-size: 80%;
  padding-right: 5px;
}
.sbNav-titleGroup-item img {
  height: 50px;
  padding-right: 15px;
  border-right: 1px solid #63666A;
}
@media screen and (max-width: 760px) {
  .sbNav-titleGroup-item img {
    border-right: none;
  }
  .nav-flex {
    flex-wrap: wrap;
  }
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 10px;
  max-height: 170px;
  right: 0;
  background: white;
}
.footer-copyright {
  margin: 10px 10px 10px 0px;
}
footer hr {
  margin-top: 0px;
}
