body {
    padding-bottom: 20px;
    margin-bottom: 75px; /* bottom = footer height */
   
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    height: 75px;
    width: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Global Navigation Bar */
.navbar {
    background-color: white;
    border-color: #e8ebef;
    border-bottom-width: 2px;
    min-height: 75px;
}

    /* Navbar text */
    .navbar .nav > li > a {
        color: #515151;
        font-size: x-large;
        padding-left: 100px;
        padding-right: 100px;
    }

@media (max-width: 1150px) {
    .navbar .nav > li > a {
        color: #515151;
        font-size: x-large;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #005495;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    height: 75px;
}

.navbar-collapse.in {
    height: 150px;
}

.navbar-toggle,
.navbar-inverse .navbar-toggle {
    background-color: #ffffff;
    border-color: #b7b7b7;
    margin-top: 18px;
    box-shadow: inset 0 0 0 transparent,0 1px 5px rgba(0,0,0,0.6);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

    .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:hover {
        box-shadow: none;
    }

    .navbar-toggle:active,
    .navbar-inverse .navbar-toggle:active {
        box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    }

#sb-logo {
    height: 50px;
}

.navbar-brand {
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

.itemviewer-iframe {
    height: 70vh;
    width: 100%;
}

.list-inline li {
    padding: .5em;
}

hr {
    margin-top: 0px;
}

.local-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: baseline;
    -webkit-justify-content: center;
    justify-content: flex-start;
}

.local-nav > * {
    margin: 1em;
}

.breadcrumb {
    margin-bottom: 0px;
}

.card {
    border: 2px solid;
    border-radius: 6px;
    background-color: #ffffff;
    color: #444444;
    width: 300px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    margin: 30px;
    font-size: 16px;
}
.card:hover {
    box-shadow: inset 0 0 0 transparent,0 0px 15px #909090;
}
.card.ela{
    border-color:#007393;
}
.ela h4.card-title{
   background-color:#007393;
}
.card.math{
    border-color:#2b731b;
}
.math h4.card-title{
    background-color:#2b731b
}
h4.card-title{
    font-weight:bold;
    color:white;
    padding:15px;
    margin:0;
}
@media (max-width: 370px) {
    h4.card-title{
    font-size:86%;
    }
}
.card-text-label{
    text-transform:uppercase;
    font-size:70%;
    font-weight:bold;
    color:#727477;
    padding-right:.25em;
}
.card-text-value{
    color:#000000;
}
.card-contents p{
  padding-left:15px;
  padding-right:15px;
}
.card-contents p:first-of-type{
    padding-top:5px;
}
.tag {
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    border-radius: 3px;
    user-select: none; /* So they can't select text */
    cursor: pointer;
}
.tag:hover {
    background-color: #efefef;
}

.form-group{
    margin-bottom:0px;
}
.selected {
    background-color: #63666A;
    color: white;
}
.selected:hover {
    background-color: #63666A;
    color: white;
}
.search-params {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-width: 0px 1px 1px 1px;
    border-style:solid;
    border-color: #cccccc;
    border-radius: 0px 0px 10px 10px;
    margin-top:-20px;
    background-color: #f9f9f9;
}

.spin {
    width: 28px;
    height: 28px;
}

.search-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-status a {
    color:#000000;
}

.search-status > div {
   padding: 15px 10px 0px 0px;
    cursor: pointer;
}

.search-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 7px;
}

.search-title {
    font-size: 2em;
}

.search-categories {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: flex-start;
}

.search-category {
    display: inline-block;
    margin: 8px;
    flex: 1 1 180px;
    background-color:#cccccc;
    padding:0 15px 10px;
    border-radius: 5px;
}

.search-category > label {
     cursor: pointer;
    padding-top:15px;

}

.search-tags {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-basis: 600px;
    justify-content: center;
    /*height: 75vh;
    overflow: scroll;*/
}

/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {
    .search-results {
        height: auto;
        overflow: auto;
    }
}*/

.placeholder-text {
    color: darkgray;
    font-size: 16px;
    padding: 8px;
}

.btn-primary {
    background-color: #2baf46;
    border-color: #166626;
}

.btn-primary:hover {
    background-color: #166626;
}
