@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid jumbotron home-container center-block">
    <div>
        <h1><b>Welcome!</b></h1> 
        
        This site provides examples of test questions used on Smarter Balanced assessments in English language
        arts/literacy and math. Teachers, parents, students, administrators, and policymakers can experience these test items just as students encounter them. 
        
        <br /><br />

        These samples are not intended to be used as practice tests, but educators can use them to plan the shifts in instruction
        that help students meet the rigor of Smarter Balanced assessments.
    </div>

    <br /><br />

    <div class="col-md-14 col-md-offset-2 text-center">

        <a class="btn-lg btn-primary home-container-button">Browse Test Items</a>

        <br /><br />

        <a class="btn-lg btn-success home-container-button">Learn More About Items</a>

    </div>

</div>