@model SmarterBalanced.SampleItems.Core.Repos.Models.GlobalAccessibilityViewModel

<h1>Accessibility Options</h1>

<b>NOTE:</b> Not all accessibility options can be applied to all items. <br /><br />

@using (Html.BeginForm())
{
    @Html.EditorFor(m => m.AccessibilityResourceViewModels)
    <button type="submit">Submit</button>
}
<br />

<button class="btn btn-info" type="button" 
        onclick="location.href='@Url.Action("Reset", "GlobalAccessibility")'">
    Reset
    </button>
