@using SmarterBalanced.SampleItems.Core.Repos.Models
@model ItemsSearchViewModel

<div id="search-container"></div>

@section Scripts {
<script src="~/scripts/GradeLevels.js"></script>
<script src="~/scripts/ItemsSearchParams.js"></script>
<script src="~/scripts/ItemCard.js"></script>
<script src="~/scripts/ItemsSearch.js"></script>
<script>
    var viewModel = @Json.Serialize(Model);
    initializeItemsSearch(viewModel);
</script>
}
