@using SmarterBalanced.SampleItems.Core.Repos.Models
@model ItemsSearchViewModel

<h1>Sample Items Search</h1>
<hr />
<div id="search-container"></div>

@section Scripts {
<script src="~/scripts/GradeLevels.js"></script>
<script src="~/scripts/ItemsSearchParams.js"></script>
<script src="~/scripts/ItemCard.js"></script>
<script src="~/scripts/ItemsSearch.js"></script>
<script>
    initializeItemsSearch(@Json.Serialize(Model.InteractionTypes));
</script>
}