@model IList<SmarterBalanced.SampleItems.Dal.Providers.Models.ItemDigest>
<h1>Items</h1>
<hr />
<div class="container" id="container"></div>

@section Scripts {
<script>
</script>
<script src="~/scripts/GradeLevels.js"></script>
<script src="~/scripts/ItemsSearch.js"></script>
}