@model SmarterBalanced.SampleItems.Core.Repos.Models.LocalAccessibilityViewModel

@Html.EditorFor(m => m.AccessibilityResourceViewModels)
<br />

<button id="accessibilityUpdateBtn" class="btn btn-success" type="button">
    Update
</button>

<button class="btn btn-info" type="button"
        onclick="resetToGlobalAcc()">
    Reset
</button>

<br /><br />
<b>The following accessibility resource(s) are not available:</b>
<br />
@Model.NonApplicableAccessibilityResources
