@model SmarterBalanced.SampleItems.Core.Repos.Models.ItemViewModel

@{
    ViewData["Title"] = "Item Details";
}
<div id="item-container"></div>
<environment names="Development">
    <link rel="stylesheet" href="~/css/item.css" />
</environment>
<environment names="Staging, Production">
    <link rel="stylesheet" href="~/css/item.min.css" />
</environment>


@section Scripts {
    <environment names="Development">
        <script src="~/scripts/sb.itemsampler.itempagecontainer.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="~/scripts/sb.itemsampler.itempagecontainer.min.js"></script>
    </environment>


    <script>
        var viewModel = @Json.Serialize(Model);
        EntryPoint.initializeItemPage(viewModel);
    </script>
}