@model SmarterBalanced.SampleItems.Core.Repos.Models.ItemViewModel

<div class="local-nav">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <ul class="list-inline">
        <li><a href="" data-toggle="modal" data-target="#viewMore">View More</a></li>
        <li><a href="" data-toggle="modal" data-target="#aboutThisItem">About This Item</a></li>
        <li><a href="" data-toggle="modal" data-target="#accessibility">Item Accessibility</a></li>
    </ul>
</div>

<hr/>

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <iframe id="itemviewer-iframe" class="itemviewer-iframe" src="@Model.ItemViewerServiceUrl"></iframe>
    </div>
</div>

<div id="viewMore" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- "View More" Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View More</h4>
            </div>
            <div class="modal-body">
                <p>Other items will be displayed here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="aboutThisItem" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- "About This Item" Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">About This Item</h4>
            </div>
            <div class="modal-body">
                <p>Text about this item will be displayed here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="accessibility" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Local Accessibility Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Item Accessibility</h4>
            </div>
            <div id="accessibilityContent" class="modal-body">
                @Html.Partial("LocalAccessibilityPartial", Model.LocalAccessibilityViewModel)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function resetToGlobalAcc() {
        $.ajax({
            url: '@Url.Action("ResetToGlobalAccessibility", "Item")',
            type: "POST",
            data: modelData,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (result) {
                var id = "accessibilityContent";
                manager.ReplaceAccessibilityContent(id, result);
            },
            failure: function (result){
                console.log("SERVER RESET FAILURE");
            },
            error: function (result){
                console.log("SERVER RESET ERROR");
            }
        });
    }
    
    
    function setIframeURL(val){
        //todo
    }


    function ItemPageManager() {
        var manager = this;
        var accessibilityDict = { };

        this.Setup = function () {
            manager.BindAccessibilityChange();
            manager.BindAccessibilityUpdateBtn();
        }

        this.ToISSAP = function () {
            var keys = Object.values(accessibilityDict);
            return keys.join(";");
        }
        
        this.OnAccessibilityChange = function(eventData){
            manager.SetAccessibilityDictItem(eventData.target);
        }

        this.SetAccessibilityDictItem = function(item){
            var id = item.id;
            var key = item.options[item.selectedIndex].value;
            accessibilityDict[id] = key;
        }

        this.ReplaceAccessibilityContent = function(id, content){
            var content = document.getElementById(id);
            content.innerHTML = newContent;
            manager.BindAccessibilityChange();
        }

        this.UpdateISSAP = function(eventData){
            var iframe = document.getElementById("itemviewer-iframe");
            var url = iframe.src;
            var urlparts = url.split("issap");
            var newurl = urlparts[0] + "issap=" + manager.ToISSAP();
            iframe.src = newurl;
            iframe.contentWindow.location.reload();
        }

        this.BindAccessibilityChange = function() {
            var accessibilityElements = [].slice.call(document.getElementsByClassName("accessibilityResources"));

            accessibilityElements.forEach(function(element) {
                element.addEventListener("change", manager.OnAccessibilityChange);
                manager.SetAccessibilityDictItem(element);
            });
        }

        this.BindAccessibilityUpdateBtn = function () {
            var btn = document.getElementById("accessibilityUpdateBtn");
            btn.addEventListener("click", manager.UpdateISSAP);
        }
       
    }

    var manager = new ItemPageManager();
    manager.Setup();
   
</script>