@model SmarterBalanced.SampleItems.Core.Repos.Models.ItemViewModel

<div id="item-container"></div>

<link rel="stylesheet" href="~/css/AccessibilityModal.css" />

@section Scripts {
    <script src="~/scripts/ShareModal.js"></script>
    <script src="~/scripts/AccessibilityModal.js"></script>
    <script src="~/scripts/ItemViewerFrame.js"></script>
    <script src="~/scripts/DropDown.js"></script>
    <script src="~/scripts/ItemPage.js"></script>
    <script>
    var url = '@Html.Raw(Url.Action("ResetToGlobalAccessibility", "Item",
        new { bankKey = Model.ItemDigest.BankKey, itemKey = Model.ItemDigest.ItemKey }))';

    initializeItemPage(@Json.Serialize(Model));
</script>
}