@using SmarterBalanced.SampleItems.Core.Repos.Models
@model ItemsSearchViewModel

@{
    ViewData["Title"] = "Browse";
}
<div id="search-container"></div>
<environment names="Development">
    <link rel="stylesheet" href="~/css/search.css" />
</environment>
<environment names="Staging, Production">
    <link rel="stylesheet" href="~/css/search.min.css" />
</environment>


@section Scripts {

    <environment names="Development">
        <script src="~/scripts/sb.itemsampler.itemssearch.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="~/scripts/sb.itemsampler.itemssearch.min.js"></script>
    </environment>
    <script>
        var viewModel = @Json.Serialize(Model);
        EntryPoint.initializeItemsSearch(viewModel);
    </script>
}
