body {
	background-color: #f3f3f3;
}

h1 {
	letter-spacing: -.02em;
}

#about-items {
    padding-bottom: 10px;
}

.aboutitems-parents {
    padding: 3em; // SB
    background-color: #ffffff; // SB
    border-radius: 6px; // SB
    box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135); // SB
    position: relative;
    display: inline-flex;
}

.aboutitems-info {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    max-width: 40%;
}

.aboutitem-iframe {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 60%;
    max-width: 60%;
}

.aboutitems-dropdown {
    width: inherit;
    padding-top: 10px;
}

.aboutitems-dropdown .form-control {
	padding: 10px;
	font-size: 16px;
	max-width: 100%;
    height: auto;
}

.aboutitems-desc {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 6px; // SB
}

.aboutitems-text {
    align-content:center;
    font-size: 18px; // SB
}
