@{
    ViewData["Title"] = "Error";
}

<h2 class="warning">An error occurred while processing your request.</h2>

<div>
    <h3 class="warning"> @Html.ActionLink("Return Home", "Index") </h3>
</div>

<style>
    .warning {
        text-align: center;
    }
</style>